<template name="footer">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<ul class="footer-nav">
						<li><a href="#about">{{_"menu_about"}}</a></li>
						<li><a href="#process">{{_"menu_process"}}</a></li>
						<li><a href="#work">{{_"menu_work"}}</a></li>
						<li><a href="#services">{{_"menu_services"}}</a></li>
						<li><a href="#form">{{_"menu_contact"}}</a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<ul class="social-links">
						<li><a href="https://www.facebook.com/imagine4me" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-behance"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://dribbble.com/imagine4me" target="_blank"><i class="fa fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<p>Copyright &copy; 2016 {{_"footer"}}</p>
			</div>
		</div>
	</footer>
</template>