<template name="form">
  <section class="section-form js-section-form" id="form">
    <div class="container">
      <div class="row light-text">
        <h2><span>{{_"contact_title_one"}}</span>{{_"contact_title_two"}}</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-1 light-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
         <div class="row row-contatos">
          <p>(55) (11) 97415-6205</p>
        </div>
        <div class="row row-contatos">
          <p>contact@imagine4me.com</p>
        </div>
        <div class="row row-contatos">
          <p>{{_"contact_address"}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div class="row row-contatos-icons">
          <i class="fa fa-phone contatos-icons"></i>
        </div>
        <div class="row row-contatos-icons">
          <i class="fa fa-envelope contatos-icons"></i>
        </div>
        <div class="row row-contatos-icons">
          <i class="fa fa-map-marker contatos-icons"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-form wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
      <form class="form-horizontal" id="contact-form">
        <fieldset>
          <!-- Form Name -->
          <!-- Text input-->
          <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <input id="form-name" name="name" type="text" placeholder="{{_"contact_name"}}" class="form-control input-md" required="">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <input id="form-email" name="email" type="email" placeholder="Email" class="form-control input-md" required="">
            </div>
          </div>
          <!-- Text input-->
          
          <!-- Textarea -->
          <div class="form-group">
            <div class="col-lg-6 col-md-6 textarea-form">
              <textarea class="form-control" id="form-text" type="text" name="message" placeholder="{{_"contact_message"}}"></textarea>
            </div>
          </div>
          <!-- Button -->
          <div class="form-group">
            <div class="col-lg-4 col-md-4">
              <button id="form-send" name="submit" class="btn btn-form">{{_"contact_submit"}}</button>
              
            </div>
          </div>
        </fieldset>
      </form>
    </div> 
  </div>
</section>
</template>
