<template name="about">
    <section class="section-about js-section-about" id="about">
        <div class="container">
            <div class="row">
                <h2><span>{{_"about_title_one"}}</span>{{_"about_title_two"}}</h2>
            </div>
            <div class="row">
                <p class="description">{{_"about_description"}}</p>
            </div>
            <div class="row row-space">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about-center">
                    <img src="/images/about/design.png" alt="design" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h3 class="wow fadeInUp" data-wow-duration="1s">Designers</h3>
                    <p>{{_"about_designer"}}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about-center">
                    <img src="/images/about/developer.png" alt="developer" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h3 class="wow fadeInUp" data-wow-duration="1s">Developers</h3>
                    <p>{{_"about_developer"}}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about-center">
                    <img src="/images/about/creative.png" alt="creative" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h3 class="wow fadeInUp" data-wow-duration="1s">{{_"about_creative_title"}}</h3>
                    <p>{{_"about_creative"}}</p>
                </div>
            </div>
        </div>
    </section>
</template>
