<template name="header">
	<header id="home">
		<nav class="navbar navbar-default">
			<div>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-header navbar-brand navbar-left">
				<a href="#home"><img src="/images/top-bar/logo.png" alt="logo" class="logo"></a>
				<a href="#home"><img src="/images/top-bar/logo.png" alt="logo" class="logo-sticky"></a>
			</div>
			<div class="container-fluid navbar-container collapse navbar-collapse" id="my-navbar">
				<div>
					<ul class="nav navbar-nav navbar-right navbar-list">
						<li><a href="#about">{{_"menu_about"}}</a></li>
						<li><a href="#process">{{_"menu_process"}}</a></li>
						<li><a href="#work">{{_"menu_work"}}</a></li>
						<li><a href="#services">{{_"menu_services"}}</a></li>
						<li><a href="#form">{{_"menu_contact"}}</a></li>
						<!-- esse eh um ainterface grafica pre feita,eh melhor vc fazer a sua -->

						<li><a href="#" class="set-en {{#if notEn}}faded{{/if}}"><span class="flag-icon flag-icon-us"></span></a></li>
						<li><a href="#" class="set-pt {{#if notPt}}faded{{/if}}"><span class="flag-icon flag-icon-br"></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="hero-text-box">
			<!-- <h1>We imagine <span>4</span> you</h1> -->
			<div class="container-fluid">
				<div class="row" style="margin-left: 90px">
				<div class="col-lg-2">
						<h1>We</h1>
					</div> 
					<div class="col-lg-5">
						<div class='content'>
							<div class='visible'>
								<ul>
									<li>Code</li>
									<li>Imagine</li>
									<li>Create</li>
									<li>Design</li>
								</ul>
							</div>
						</div>
					</div> 
					<div class="col-lg-5" style="margin-left: -30px;">
						<h1><span>4</span> you</h1>
					</div> 
				</div>
				<div class="row">   
					<h3 class="hero-h3">{{_"hero_message"}}</h3>
				</div>
				<button class="btn btn-primary js-scroll-ghost">{{_"button_ghost"}}</button>
				<button class="btn btn-default js-scroll-full">{{_"button_cta"}}</button>
			</div>
		</div>
	</header>
</template>