<template name="header">
	<header id="home">
		<nav class="navbar navbar-default">
		<div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    		<div class="navbar-header navbar-brand navbar-left">
					<a href="#home"><img src="/images/top-bar/logo.png" alt="logo" class="logo"></a>
					<a href="#home"><img src="/images/top-bar/logo.png" alt="logo" class="logo-sticky"></a>
			</div>
			<div class="container-fluid navbar-container collapse navbar-collapse" id="my-navbar">
				<div>
					<ul class="nav navbar-nav navbar-right navbar-list">
						<li><a href="#about">About</a></li>
						<li><a href="#process">Process</a></li>
						<li><a href="#work">Work</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#form">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="hero-text-box">
			<h1>We imagine <span>4</span> you</h1>
			<h3 class="hero-h3">Here your website is made with code, great design and lots of love.</h3>
			<button class="btn btn-primary js-scroll-ghost">Learn more about us</button>
			<button class="btn btn-default js-scroll-full">Check out our services</button>
		</div>
	</header>
</template>