<template name="services">
	<section class="section-services js-section-services" id="services">
		<div class="container container-services">
			<div class="row light-text">
				<h2><span>{{_"services_title_one"}}</span>{{_"services_title_two"}}</h2>
			</div>
			<div class="services-retangle" style="background-color: #5cc3b0;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/services/webdesign.png" alt="">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Web Design</h3>
						<p>{{_"services_webdesign"}}</p>
					</div>	
				</div>
			</div>
			<div class="services-retangle" style="background-color: #ec685b;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Web Development</h3>
						<p>{{_"services_webdevelopment"}}</p>
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/services/webdevelopment.png" alt="">
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #e9ebef;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/services/branding.png" alt="">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>Branding</h3>
						<p>{{_"services_branding"}}</p>
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #5cc3b0;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>{{_"services_illustration_title"}}</h3>
						<p>{{_"services_illustration"}}</p>
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/services/illustration.png" alt="">
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #ec685b;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/services/graphicdesign.png" alt="">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>{{_"services_graphicdesign_title"}}</h3>
						<p>{{_"services_graphicdesign"}}</p>
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #e9ebef;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>{{_"services_animation_title"}}</h3>
						<p>{{_"services_animation"}}</p>
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/services/animation.png" alt="">
					</div>	
				</div>
			</div>
			<div class="services-retangle services-margin" style="background-color: #5cc3b0;">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
						<img src="/images/services/socialmedia.png" alt="">
					</div>	
					<div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
						<h3>{{_"services_socialmedia_title"}}</h3>
						<p>{{_"services_socialmedia"}}</p>
					</div>	
				</div>
			</div>
		</div>
	</section>
</template>