<template name="process">
    <section class="section-process " id="process">
     <div class="container">
            <div class="row light-text">
                <h2><span>{{_"process_title_one"}}</span>{{_"process_title_two"}}</h2>
            </div>
            <div class="row row-space-process">
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/plan.png" alt="plan" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h3>{{_"process_plan_title"}}</h3>
                    <p>{{_"process_plan"}}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/design.png" alt="design" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <h3>Design</h3>
                    <p>{{_"process_design"}}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/build.png" alt="build" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <h3>{{_"process_build_title"}}</h3>
                    <p>{{_"process_build"}}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/launch.png" alt="launch" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <h3>{{_"process_launch_title"}}</h3>
                    <p>{{_"process_launch"}}</p>
                </div>
            </div>
        </div>
    </section>
</template>
