<template name="process">
    <section class="section-process " id="process">
     <div class="container">
            <div class="row light-text">
                <h2><span>How</span> we work</h2>
            </div>
            <div class="row row-space-process">
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/plan.png" alt="plan" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h3>Plan</h3>
                    <p>This first step will establish our communication with you. We outline the budgets, tactics, ideas and technology that will be used in the project, all based on your objectives and needs.  All this is put into paper and we start the hard work</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/design.png" alt="design" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <h3>Design</h3>
                    <p>At this point, we already know what your goals are and what your company style is. So, we create a custom and well planned design, considering the user experience (UX), user interface (UI) and bringing you the best of modern and responsive design.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/build.png" alt="build" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <h3>Build</h3>
                    <p>Here is where the design is translated to line of codes. We use the leading technologies to make your website functional, fast and well-built, providing the user the best experience. </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 process-center light-text">
                    <img src="/images/process/launch.png" alt="launch" class="responsive-img wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                     <h3>Launch</h3>
                    <p>Your website is ready to use! After tests, corrections and your approval, we put your page online. We offer a service of maintenance and monitored, so you your website it will be always updated and you don’t have to worry about that boring part.</p>
                </div>
            </div>
        </div>
    </section>
</template>
